#textdomain wesnoth-nrr

[scenario]
    id=04_Snowclad_Peaks
    name= _ "Snowclad Peaks"
    map_file=04_Snowclad_Peaks.map
    {TURNS 18 18 18}
    next_scenario=05_Gore_Knolls
    victory_when_enemies_defeated=yes
    {XP_MODIFIER_NRR}

    [side]
        side=1
        controller=human
        {CHARACTER_STATS_TALLIN}
        {FLAG_VARIANT6 knalgan}
        team_name="player"
        user_team_name= _ "Knalgan Alliance"
        shroud=yes
        fog=yes
        share_vision=all
        {GOLD 150 120 70}
        recruit={KNALGAN_ALLIANCE_RECRUIT_LIST}
    [/side]
    
# Setting: look at the title lol
# Tallin and co resurface for supplies and find some gryphons whom they tame.
    {HERO_DEATH_EVENTS}
[/scenario]
