#textdomain wesnoth-nrr

[scenario]
    id=08_The_Underlevels
    name= _ "The Underlevels"
    map_file=08_The_Underlevels.map
    {TURNS 50 45 40}
    next_scenario=09_
    victory_when_enemies_defeated=yes
    {XP_MODIFIER_NRR}

    [side]
        unrenamable=yes
        side=1
        {GOLD 150 120 70}
    [/side]
    
# Setting: within Kal Kartha
# Tallin and co explore the winding underlevels under Kal Kartha proper, discovering the horrors of Karrag's experiments.
[/scenario]
