#textdomain wesnoth-nrr

[scenario]
    id=10x_The_Stratagem
    name= _ "The Stratagem"
    map_file=10x_The_Stratagem.map
    turns=unlimited
    next_scenario=11_Smoldering_Fracture
    victory_when_enemies_defeated=yes
    {XP_MODIFIER_NRR}
    {NRR_LOAD_RESOURCES}
    {ENABLE_DWARVISH_RUNESMITH}

    {UNDERGROUND}

    [side]
        side=1
        controller=human
        {CHARACTER_STATS_TALLIN}
        {FLAG_VARIANT knalgan}
        team_name="player"
        user_team_name= _ "Knalgan Alliance"
        shroud=yes
        fog=yes
        share_vision=all
        {GOLD 150 120 70}
        recruit={KNALGAN_ALLIANCE_RECRUIT_LIST_FULL}
    [/side]
    
# Setting: Kal Kartha, Tallin and co discuss strategy on how to beat Karrag and drakes
    {HERO_DEATH_EVENTS}
[/scenario]
