#textdomain wesnoth-nrr

[scenario]
    id=10x_The_Stratagem
    name= _ "The Stratagem"
    map_file=cutscenes/0910x_Kal_Kartha_Keep.map
    turns=unlimited
    next_scenario=11_Smoldering_Fracture
    theme=Cutscene_Minimal
    victory_when_enemies_defeated=no
    {XP_MODIFIER_NRR}
    {NRR_LOAD_RESOURCES}
    {ENABLE_DWARVISH_RUNESMITH}

    {UNDERGROUND}

    [side]
        side=1
        controller=human
        {CHARACTER_STATS_TALLIN}
        {FLAG_VARIANT knalgan}
        team_name="player"
        user_team_name= _ "Knalgan Alliance"
        shroud=yes
        fog=yes
        share_vision=all
        {GOLD 150 120 70}
        recruit={KNALGAN_ALLIANCE_RECRUIT_LIST_FULL}
    [/side]

    {STARTING_VILLAGES_ALL 1}

    [side]
        side=2
        controller=ai
        persistent=yes
        save_id=Zorfu
        {WITHERVEIN_ORCS}
        {CHARACTER_STATS_ZORFU}
        {FLAG_VARIANT6 ragged}
        team_name="player"
        user_team_name= _ "Withervein Orcs"

        {NO_ECONOMY}

        recruit={ORC_CLAN_WITHERVEIN_RECRUIT_LIST}
    [/side]

    [event]
        name=prestart

        # let us decorate the keep of Kal Kartha with side 1's recalls
        # to establish Knalgan Alliance occupation

        [recall]
            x,y=11,16
            type_adv_tree=Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Scout,Dwarvish Guardsman
        [/recall]
        [recall]
            x,y=14,15
            type_adv_tree=Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Scout,Dwarvish Guardsman
        [/recall]
        [recall]
            x,y=17,16
            type_adv_tree=Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Scout,Dwarvish Guardsman
        [/recall]

        [recall]
            x,y=11,7
            type_adv_tree=Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Scout,Dwarvish Guardsman
        [/recall]
        [recall]
            x,y=14,7
            type_adv_tree=Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Scout,Dwarvish Guardsman
        [/recall]
        [recall]
            x,y=17,7
            type_adv_tree=Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Scout,Dwarvish Guardsman
        [/recall]

        [recall]
            x,y=16,9
            type_adv_tree=Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Scout,Dwarvish Guardsman
        [/recall]
        [recall]
            x,y=16,13
            type_adv_tree=Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Scout,Dwarvish Guardsman
        [/recall]

        [recall]
            x,y=9,9
            type_adv_tree=Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Scout,Dwarvish Guardsman
        [/recall]
        [recall]
            x,y=9,14
            type_adv_tree=Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Scout,Dwarvish Guardsman
        [/recall]

        # some outlaws next to Tallin
        [recall]
            x,y=7,10
            type_adv_tree=Footpad,Poacher,Thief
        [/recall]
        [recall]
            x,y=7,13
            type_adv_tree=Footpad,Poacher,Thief
        [/recall]

        # more guards
        [recall]
            x,y=5,17
            type_adv_tree=Footpad,Poacher,Thief
        [/recall]
        [recall]
            x,y=7,4
            type_adv_tree=Footpad,Poacher,Thief
        [/recall]

        [recall]
            x,y=22,6
            type_adv_tree=Footpad,Poacher,Thief
        [/recall]
        [recall]
            x,y=22,16
            type_adv_tree=Footpad,Poacher,Thief
        [/recall]

        [recall]
            x,y=10,9
            type_adv_tree=Footpad,Poacher,Thief
        [/recall]
        [recall]
            x,y=10,13
            type_adv_tree=Footpad,Poacher,Thief
        [/recall]
    [/event]

    [event]
        name="start"

        # cutscence stuff

        # proceed
        {ENDLEVEL_CONTINUE}
    [/event]
    
    # Setting: Kal Kartha, Tallin and co discuss strategy on how to beat Karrag and drakes
[/scenario]
