#textdomain wesnoth-nrr

[scenario]
    id=11_Smoldering_Fracture
    name= _ "Smoldering Fracture"
    map_file=11_Smoldering_Fracture.map
    
    # you can lose when more drakes show up
    {TURNS 90 90 90}

    next_scenario=11x_Victory_or_Death
    victory_when_enemies_defeated=yes
    {XP_MODIFIER_NRR}

    # these are now constants
    {NRR_LOAD_RESOURCES}
    {ENABLE_DWARVISH_RUNESMITH}
    {NRR_ENCHANTING_SYSTEM}
    [load_resource]
        id=nrr_rune_info_help
    [/load_resource]

    # music playlist
    {DEFAULT_MUSIC_PLAYLIST}

    # adjusted schedule

    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {DAWN}
    # flavor drakes
    {MORNING}
    {MIDDAY}
    {MIDDAY}
    {AFTERNOON}

    # time area

    # Tallin
    [side]
        side=1
        controller=human
        {CHARACTER_STATS_TALLIN}
        {FLAG_VARIANT knalgan}
        team_name="player"
        user_team_name= _ "Knalgan Alliance"
        shroud=yes
        fog=no
        share_vision=all
        # biggest battle scenario
        # go wild
        {GOLD 750 620 500}
        {INCOME 14 12 10}
        recruit={KNALGAN_ALLIANCE_RECRUIT_LIST_FULL}
    [/side]

    # zorfu
    [side]
        side=2
        controller=ai
        persistent=yes
        save_id=Zorfu
        {WITHERVEIN_ORCS}
        {CHARACTER_STATS_ZORFU}
        {FLAG_VARIANT6 ragged}
        team_name="player"
        user_team_name= _ "Withervein Orcs"
        shroud=yes
        fog=no
        share_vision=all

        # biggest battle scenario
        # go wild
        {GOLD 750 620 500}
        {INCOME 14 16 20}

        recruit={ORC_CLAN_WITHERVEIN_RECRUIT_LIST}
        {CHAOTIC_AI_PARAMS}
    [/side]

    # Hamel
    [side]
        side=3
        controller=ai
        {CHARACTER_STATS_HAMEL}
        {FLAG_VARIANT knalgan}
        team_name=player
        user_team_name= _ "Knalga"
        {KNALGAN_ALLIANCE_DWAVRES}
        shroud=yes
        fog=no
        share_vision=all
        {GOLD 750 620 500}
        {INCOME 14 12 20}
        recall_cost={ON_DIFFICULTY 10 12 15}
        recruit={KNALGAN_ALLIANCE_DWARVES_RECRUITS}
        {NEUTRAL_AI_PARAMS}
    [/side]

    {LIMIT_CONTEMPORANEOUS_RECRUITS 3 "Dwarvish Steelclad" {ON_DIFFICULTY 3 3 3}}
    {LIMIT_CONTEMPORANEOUS_RECRUITS 3 "Dwarvish Thunderguard" {ON_DIFFICULTY 3 3 3}}
    {LIMIT_CONTEMPORANEOUS_RECRUITS 3 "Dwarvish Pathfinder" {ON_DIFFICULTY 3 3 3}}
    {LIMIT_CONTEMPORANEOUS_RECRUITS 3 "Dwarvish Stalwart" {ON_DIFFICULTY 2 2 2}}
    {LIMIT_CONTEMPORANEOUS_RECRUITS 3 "Dwarvish Berserker" {ON_DIFFICULTY 2 2 2}}

    {LIMIT_CONTEMPORANEOUS_RECRUITS 3 "Dwarvish Fighter" {ON_DIFFICULTY 3 3 3}}
    {LIMIT_CONTEMPORANEOUS_RECRUITS 3 "Dwarvish Thunderer" {ON_DIFFICULTY 3 3 3}}
    {LIMIT_CONTEMPORANEOUS_RECRUITS 3 "Dwarvish Scout" {ON_DIFFICULTY 3 3 3}}
    {LIMIT_CONTEMPORANEOUS_RECRUITS 3 "Dwarvish Guardsman" {ON_DIFFICULTY 2 2 2}}
    {LIMIT_CONTEMPORANEOUS_RECRUITS 3 "Dwarvish Ulfserker" {ON_DIFFICULTY 2 2 2}}

    # Masked Dwarves
    [side]
        side=4
        controller=ai
        id=Ancatil
        name= _ "Masked Dwarf"
        type=Dwarvish Sentinel
        canrecruit=yes
        unrenamable=yes
        [modifications]
            # make him a pain to dispatch
            {TRAIT_ELITE}
            {TRAIT_STRONG}
        [/modifications]

        {KARRAG_LOYALISTS}
        {FLAG_VARIANT knalgan}
        team_name=karrag
        user_team_name= _ "Masked Dwarves"

        {GOLD 420 540 660}
        {INCOME 22 28 36}
        recruit={KAL_KARTHA_MASKED_DWARVES_ELITES}
        village_gold=1
        village_support={ON_DIFFICULTY 4 6 8}
        {NEUTRAL_AI_PARAMS}
    [/side]

    # saurians
    [side]
        side=5
        controller=ai
        id=Xerxix
        name= _ "Xerxix"
        type="Saurian Prophet"
        [modifications]
            {TRAIT_ELITE}
            {TRAIT_QUICK}
        [/modifications]
        canrecruit=yes
        unrenamable=yes
        {DRAKES_SAURIANS_KERGEOM}
        {FLAG_VARIANT long}
        team_name=karrag
        user_team_name= _ "Saurians"

        {GOLD 420 540 660}
        {INCOME 22 28 36}

        # the full set
        recruit="Saurian Skirmisher, Saurian Augur, Saurian Oracle, Saurian Spearthrower, Saurian Ambusher, Saurian Soothsayer, Saurian Flanker, Saurian Javelineer,Saurian Seer,Saurian Prophet"
        {CHAOTIC_AI_PARAMS}
    [/side]

    # Drakes
    [side]
        side=6
        controller=ai
        # if you see a drake with double names
        # it's because he comes from a 
        # reputed lineage
        id="Velnick Markan"
        name= _ "Velnick Markan"
        canrecruit=yes
        
        type=Drake Subjugator
        [modifications]
            {TRAIT_RESILIENT}
            {TRAIT_STRONG}
        [/modifications]
        unrenamable=yes
        {DRAKES_SAURIANS_KERGEOM}
        {FLAG_VARIANT long}
        team_name=karrag
        user_team_name= _ "Drakes"

        {GOLD 520 640 760}
        {INCOME 22 28 36}
        # most except clasher caste (for obvious regions)
        recruit="Drake Burner, Drake Fighter, Drake Glider, Drake Warrior, Drake Smasher, Fire Drake, Drake Flare, Sky Drake, Drake Adventurer, Drake Ranger, Hurricane Drake, Drake Blademaster, Drake Flameheart, Inferno Drake"
        village_gold=1
        village_support={ON_DIFFICULTY 4 6 8}
        {LAWFUL_AI_PARAMS}
    [/side]

    # Drakes
    [side]
        side=7
        controller=ai
        # might be descendent of Karron
        # not sure yet
        id="Merkush Karron"
        name= _ "Merkush Karron"
        canrecruit=yes
        
        type=Drake Blademaster
        [modifications]
            {TRAIT_RESILIENT}
            {TRAIT_FEARLESS}
        [/modifications]
        unrenamable=yes
        {DRAKES_SAURIANS_KERGEOM}
        {FLAG_VARIANT long}
        team_name=karrag
        user_team_name= _ "Drakes"

        {GOLD 520 640 760}
        {INCOME 22 28 36}
        # most except clasher caste (for obvious regions)
        recruit="Drake Burner, Drake Fighter, Drake Glider, Drake Warrior, Drake Smasher, Fire Drake, Drake Flare, Sky Drake, Drake Adventurer, Drake Ranger, Hurricane Drake, Drake Blademaster, Drake Flameheart, Inferno Drake"
        village_gold=1
        village_support={ON_DIFFICULTY 4 6 8}
        {LAWFUL_AI_PARAMS}
    [/side]

    # Drakes
    # Lord Mar'Ildian
    # Armaggeddon Drake
    [side]
        side=8
        controller=ai
        id="Mar_Ildian"
        name= _ "Lord Mar’Ildian"
        canrecruit=yes
        
        type=Armageddon Drake
        [modifications]
            {TRAIT_RESILIENT}
            {TRAIT_DEXTROUS}
        [/modifications]
        unrenamable=yes
        {DRAKES_SAURIANS_KERGEOM}
        {FLAG_VARIANT long}
        team_name=karrag
        user_team_name= _ "Drakes"

        {GOLD 720 840 960}
        {INCOME 22 28 36}
        recruit="Drake Burner, Drake Fighter, Drake Flameheart, Fire Drake, Drake Warrior, Drake Flare, Drake Blademaster, Inferno Drake"
        village_gold=1
        village_support={ON_DIFFICULTY 4 6 8}
        {LAWFUL_AI_PARAMS}
    [/side]

    {STARTING_VILLAGES 8 12}

    # do not let him to die
    {FORCE_CHANCE_TO_HIT (side=1) (id="Mar_Ildian") 0 (
        {VARIABLE_CONDITIONAL turn_number greater_than 0}
    )}

    # Drakes
    # Lord Karri Kon
    # Armageddon Drake
    [side]
        side=9
        controller=ai
        id="Karri Kon"
        name= _ "Lord Karri Kon"
        canrecruit=yes
        
        type=Armageddon Drake
        [modifications]
            {TRAIT_FEARLESS}
            {TRAIT_STRONG}
        [/modifications]
        unrenamable=yes
        {DRAKES_SAURIANS_KERGEOM}
        {FLAG_VARIANT long}
        team_name=karrag
        user_team_name= _ "Drakes"

        {GOLD 720 840 960}
        {INCOME 22 28 36}
        recruit="Drake Burner, Drake Fighter, Drake Flameheart, Fire Drake, Drake Warrior, Drake Flare, Drake Blademaster, Inferno Drake"
        village_gold=1
        village_support={ON_DIFFICULTY 4 6 8}
        {LAWFUL_AI_PARAMS}
    [/side]

    {STARTING_VILLAGES 9 12}

    # do not let him to die
    {FORCE_CHANCE_TO_HIT (side=1) (id="Karri Kon") 0 (
        {VARIABLE_CONDITIONAL turn_number greater_than 0}
    )}
    
    # Eryssa
    [side]
        side=10
        location_id=Eryssa_start_pos
        controller=ai
        canrecruit=yes
        # her surival is not relevant
        {IS_EXPENDABLE_LEADER}
        {CHARACTER_STATS_ERYSSA}

        {ELVES_LINTAIR}
        team_name=player
        user_team_name= _ "Lintair Forest"
        {FLAG_VARIANT wood-elvish}

        {GOLD 580 520 480}
        {INCOME 20 18 16}
        shroud=yes
        share_vision=all

        # no scouts
        recruit="Elvish Fighter, Elvish Archer, Elvish Shaman, Elvish Hero, Elvish Marksman, Elvish Ranger, Elvish Hero, Elvish Captain, Elvish Marshal, Elvish Sharpshooter, Elvish Avenger, Elvish Champion, Elvish Druid, Elvish Sorceress, Elvish Shyde,Wose,Elder Wose,Ancient Wose"
        {NEUTRAL_AI_PARAMS}

        # her loyal subjects
        [unit]
            side=10
            placement=leader
            {CHARACTER_STATS_ELENIA}
        [/unit]
        [unit]
            side=10
            placement=leader
            {IS_LOYAL}
            id="Silmaclya"
            name= _ "female^Silmaclya"
            gender="female"
            experience={ON_DIFFICULTY 20 30 50}
            type={ON_DIFFICULTY "Elvish Ranger" "Elvish Avenger" "Elvish Avenger"}
            [modifications]
                {TRAIT_STRONG}
                {TRAIT_INTELLIGENT}
            [/modifications]
        [/unit]
        [unit]
            side=10
            placement=leader
            {IS_LOYAL}
            id="Hithrandel"
            name= _ "Hithrandel"
            type="Elvish Marshal"
            experience={ON_DIFFICULTY 24 35 43}
            [modifications]
                {TRAIT_STRONG}
                {TRAIT_INTELLIGENT}
            [/modifications]
        [/unit]
    [/side]

    # God Dragon Kergeom himself
    [side]
        side=11
        controller=ai
        no_leader=yes
        {DRAKES_SAURIANS_KERGEOM}
        {FLAG_VARIANT long}
        team_name=karrag
        user_team_name= _ "Drakes"
        {HIDDEN_TEAM}
        {NO_ECONOMY}
        {NO_RECRUITMENT}
        # the boss arena is in a neutral ToD
        {NEUTRAL_AI_PARAMS}
    [/side]

    # enemy guards, spawner side
    [side]
        side=12
        controller=ai
        no_leader=yes
        {MONSTER_SIDE}
        {FLAG_VARIANT long}
        team_name=karrag
        user_team_name= _ "Monsters"
        {HIDDEN_TEAM}
        {NO_ECONOMY}
        {NO_RECRUITMENT}
        {NEUTRAL_AI_PARAMS}
    [/side]

    # prestart
    [event]
        name=prestart

        # give Hamel his well deserved lord of all Knalga buff
        {SCENARIO_11_HAMEL_REINFORCEMENTS}

        # recall the regulars
        {RECALL "Aiglondur"}
        # weirdly enough, Stalrag (side 2 is also recalled)
        # need to accomodate him in the code
        {RECALL_LOYALS}

        # make atmosphere omnious
        {COLOR_ADJUST -25 -25 -25}

        # scenario progression counter
        # stageOne - start
        # stageTwo - Kergeom boss fight
        # stageThree - True Kergeom boss fight
        # also controls roar effect
        {VARIABLE scenario_11_stage "stageOne"}
    [/event]
    
    {SETUP_BRAZIERS}
    {SETUP_CAMPFIRES}

    # aesethetics
    [event]
        name="new turn"
        first_time_only=no

        [filter_condition]
            [lua]
                code=<<
                    return (wml.variables["turn_number"]%5 == 0)
                >>
            [/lua]
            # will play ever 5 turns...
            # until the special condition is met
            [and]
                {VARIABLE_CONDITIONAL scenario_11_stage not_equals "stageThree"}
            [/and]
        [/filter_condition]

        # hail Lord Kergeom, hapless fools!
        [sound]
            name=dragon-roar.ogg
        [/sound]
    [/event]

    # lava bursts

    # runes

    # start event

    # Setting: Now volcanic peak of Gom Thurim
    # Fight Kergeom in huge battle

    {HERO_DEATH_EVENTS_ALL}
[/scenario]
