#textdomain wesnoth-nrr

[scenario]
    id=12_Through_the_Automaton_Labyrinth
    name= _ "Through the Automaton Labyrinth"
    map_file=12_Through_the_Automaton_Labyrinth.map
    turns=unlimited
    next_scenario=13_Lord_of_Runes
    victory_when_enemies_defeated=yes
    {XP_MODIFIER_NRR}
    {NRR_LOAD_RESOURCES}

    {UNDERGROUND}

    [side]
        side=1
        controller=human
        {CHARACTER_STATS_TALLIN}
        {FLAG_VARIANT knalgan}
        team_name="player"
        user_team_name= _ "Knalgan Alliance"
        shroud=yes
        fog=yes
        share_vision=all
        {GOLD 150 120 70}
        recruit={KNALGAN_ALLIANCE_RECRUIT_LIST_FULL}
    [/side]
    
# Setting: Inside the factories of Gom Thurim
# Dungeon crawl
    {HERO_DEATH_EVENTS}
[/scenario]
