#textdomain wesnoth-nrr

[scenario]
    id=13_Lord_of_Runes
    name= _ "Lord of Runes"
    map_file=13_Lord_of_Runes.map
    turns=unlimited
    next_scenario=13x_Northern_Rebirth
    victory_when_enemies_defeated=yes
    {XP_MODIFIER_NRR}
    {NRR_LOAD_RESOURCES}
    {ENABLE_DWARVISH_RUNESMITH}
    #{NRR_ENCHANTING_SYSTEM}

    {UNDERGROUND}

    [side]
        side=1
        controller=human
        {CHARACTER_STATS_TALLIN}
        {FLAG_VARIANT knalgan}
        team_name="player"
        user_team_name= _ "Knalgan Alliance"
        shroud=yes
        fog=yes
        share_vision=all
        {GOLD 150 120 70}
        recruit={KNALGAN_ALLIANCE_RECRUIT_LIST_FULL}
    [/side]
    
    # Setting: Boss fight against Karrag
    {HERO_DEATH_EVENTS}
[/scenario]
