#textdomain wesnoth-nrr

#define TALLIN_DEATH_EVENT
    [event]
        name="last breath"
        [filter]
            id="Tallin"
        [/filter]

        # dialogue here
    [/event]

    [event]
        name="die"
        [filter]
            id="Tallin"
        [/filter]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef