#textdomain wesnoth-nrr

#define CLAN_BLOODROCK_BUFF
	[object]
		id=clan_bloodrock_buff
		duration=forever
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_BLOODLUST}
			[/abilities]
		[/effect]
	[/object]
#enddef

#define CLAN_BLOODROCK_ORC
    [modifications]
        {CLAN_BLOODROCK_BUFF}
    [/modifications]
#enddef

#define BLOODROCK_ORC SIDE TYPES X Y
    {VARIABLE_RANDOM recruit_type {TYPES} }
    {UNIT {SIDE} $recruit_type {X} {Y} (
        {CLAN_BLOODROCK_ORC}
        {PASSABLE_CHECK}
    )}
    {CLEAR_VARIABLE recruit_type }
#enddef

#define PLACE_FIRE_BLAST_RUNE X Y
	{PLACE_IMAGE scenery/rune6-glow.png {X} {Y}}
	[event]
		name=moveto
		first_time_only=yes
		
		[filter]
			x,y={X},{Y}
			[not]
				id="Karrag"
			[/not]
		[/filter]
		
		[remove_item]
			x,y={X},{Y}
		[/remove_item]
		
		[sound]
			name=magic-dark-big.ogg
		[/sound]
		
		[item]
			x,y=$x1,$y1
			halo="halo/empowered-[1~15].png~SCALE(200,200):80"
		[/item]
		
		[delay]
			time=1100
		[/delay]
		
		[remove_item]
			x,y={X},{Y}
		[/remove_item]
		
		{PLACE_IMAGE scenery/rune6.png {X} {Y}}
		
		[harm_unit]
			[filter]
				x,y=$x1,$y1
			[/filter]
			amount={ON_DIFFICULTY 16 20 24}
			damage_type=fire
			fire_event=yes
		[/harm_unit]
	[/event]
#enddef

#define PLACE_COLD_BLAST_RUNE X Y
	{PLACE_IMAGE scenery/rune6-glow.png {X} {Y}}
	[event]
		name=moveto
		first_time_only=yes
		
		[filter]
			x,y={X},{Y}
			[not]
				id="Karrag"
			[/not]
		[/filter]
		
		[remove_item]
			x,y={X},{Y}
		[/remove_item]
		
		[sound]
			name=magic-dark-big.ogg
		[/sound]
		
		[item]
			x,y=$x1,$y1
			halo="halo/empowered-[1~15].png~SCALE(200,200):80"
		[/item]
		
		[delay]
			time=1100
		[/delay]
		
		[remove_item]
			x,y={X},{Y}
		[/remove_item]
		
		{PLACE_IMAGE scenery/rune6.png {X} {Y}}
		
		[harm_unit]
			[filter]
				x,y=$x1,$y1
			[/filter]
			amount={ON_DIFFICULTY 16 20 24}
			damage_type=cold
			fire_event=yes
		[/harm_unit]
	[/event]
#enddef

#define PLACE_SPEED_RUNE X Y
	{PLACE_IMAGE scenery/rune2-glow.png {X} {Y}}
	
	[event]
		name=moveto
		first_time_only=no
		[filter]
			x,y={X},{Y}
		[/filter]
		[heal_unit]
			[filter]
				x,y={X},{Y}
			[/filter]
			moves=full
			amount=0
			animate=yes
		[/heal_unit]
	[/event]
#enddef

#define PLACE_HEAL_RUNE X Y
	{PLACE_IMAGE scenery/rune1-glow.png {X} {Y}}
	[event]
		name=moveto
		first_time_only=yes
		
		[filter]
			x,y={X},{Y}
		[/filter]
		
		[remove_item]
			x,y={X},{Y}
		[/remove_item]
		
		[sound]
			name=heal.wav
		[/sound]
		
		[item]
			x,y=$x1,$y1
			halo="halo/empowered-[1~15].png~SCALE(200,200):80"
		[/item]
		
		[delay]
			time=1100
		[/delay]
		
		[remove_item]
			x,y={X},{Y}
		[/remove_item]
		
		{PLACE_IMAGE scenery/rune1.png {X} {Y}}
		
		[heal_unit]
			[filter]
				x,y={X},{Y}
			[/filter]
			# I am a merciful god
			amount={ON_DIFFICULTY 30 25 20}
			animate=yes
			restore_statuses=yes
		[/heal_unit]
	[/event]
#enddef

# very rare chance of seeing this 
# due to the runic power involved in making these
#define PLACE_DEATH_RUNE X Y
	{PLACE_IMAGE scenery/rune5-glow.png {X} {Y}}
	[event]
		name=moveto
		first_time_only=yes
		
		[filter]
			x,y={X},{Y}
			[not]
				id="Karrag"
			[/not]
		[/filter]
		
		[remove_item]
			x,y={X},{Y}
		[/remove_item]
		
		[sound]
			name=magic-dark-big.ogg
		[/sound]
		
		[item]
			x,y=$x1,$y1
			halo="halo/empowered-[1~15].png~SCALE(200,200):80"
		[/item]
		
		[delay]
			time=1100
		[/delay]
		
		[remove_item]
			x,y={X},{Y}
		[/remove_item]
		
		{PLACE_IMAGE scenery/rune5.png {X} {Y}}
		
		[kill]
			animate=yes
			x,y=$x1,$y1
			fire_event=yes
		[/kill]
	[/event]
#enddef

#define PLACE_TELEPORT_RUNE SIDE X Y TARGET_X TARGET_Y CONDITIONAL_VAR
	[event]
        name=moveto
        first_time_only=no
        [filter]
            side={SIDE}
            x,y={X},{Y}
        [/filter]
        [filter_condition]
            {CONDITIONAL_VAR}
            [and]
                [not]
                    [have_unit]
                        x,y={TARGET_X},{TARGET_Y}
                    [/have_unit]
                [/not]
            [/and]
        [/filter_condition]

        [sound]
            name=magic-missile-1.ogg
        [/sound]

        {TELEPORT_UNIT (x,y=$x1,$y1) {TARGET_X} {TARGET_Y}}

        [redraw]
            clear_shroud=yes
            side=1
        [/redraw]

		[floating_text]
            x,y={TARGET_X},{TARGET_Y}
            text="<span color='#a500bf'>confused</span>"
        [/floating_text]

		# my explanation for this is
		# is that after teleporting,
		# the body is still recovering
		# so unable to move or attack
		# for the rest of the turn
		[modify_unit]
			[filter]
				x,y={TARGET_X},{TARGET_Y}
			[/filter]
			attacks_left=0
			moves=0
		[/modify_unit]
    [/event]
#enddef

#define LAVA_OUTBURST X Y
	{RANDOM (12800,25000,37200,49700,51000,60000,72000)}
	[item]
		x={X}
		y={Y}
		halo=scenery/flames01.png~O(0%):$random,projectiles/fireball-impact-[1~16].png~SCALE(300,300):80.png~SCALE(100,100):120,scenery/flames01.png~O(0%):$random
	[/item]
	{CLEAR_VARIABLE random}
#enddef