#textdomain wesnoth-nrr

#define TRAIT_RUNIC_ARMOR
    [trait]
        id=trait_karrag_boss
        availability="musthave"
        male_name= _ "runic armor"
        female_name= _ "female^runic armor"
        description= _ "Immune to drain, poison, and plague"
        help_text= _ "Runes engraved on the armor nullify any poison, drain or plague effects."
        [effect]
            apply_to=status
            add=unpoisonable
        [/effect]
        [effect]
            apply_to=status
            add=undrainable
        [/effect]
        [effect]
            apply_to=status
            add=unplagueable
        [/effect]
    [/trait]
#enddef

#define TRAIT_ELITE
    [trait]
        id=trait_elite
        availability="musthave"
        male_name= _ "elite"
        female_name= _ "female^elite"
        description= _ "+50% HP, +20% damage"
        help_text= _ "This unit is stronger than its regular counterparts."
        [effect]
            apply_to=hitpoints
            increase=50%
            increase_total=50%
            heal_full=yes
        [/effect]
        [effect]
            apply_to=attack
            increase_damage=20%
        [/effect]
    [/trait]
#enddef